@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tokens.css";
@import "./theme/theme-light.css";
@import "./theme/theme-dark.css";

@layer base {
  :root {
    color-scheme: light;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    @apply bg-background text-foreground;
  }

}
